<!--
# Filename: visualization.html
# Autor: Marcelo Carrillo
# Creado: 09/12/2019
# Modificado 01/01/2020
# Descripcion: Intefez Web con templates webresponsive de Bootstrap, WTForms de Flask con Grafica Dinamica en D3-->
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="page-header">
    <h1>Herramienta Web para Exploración Visual de Similitud utilizando t-SNE<small>, caso de estudio: IATI </small>
    </h1>
</div>
<form method="POST" action="/">
    {{ form.csrf_token }}
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="col-md-4">{{ wtf.form_field(form.color)}}</div>
            <div class="col-md-4">{{ wtf.form_field(form.size)}}</div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-success btn-md btn-block" value="Ejecutar t-SNE">
                    <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Ejecutar t-SNE
                </button>
                <a id="mySurvey" class="btn btn-success btn-md btn-block" href="https://es.surveymonkey.com/r/2JGJQDG"
                    role="button" target=”_blank”>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Llenar Encuesta</a>
            </div>
            <table class="table table-borderless table-sm table-responsive">
                <tr>
                    <td>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">
                                    t-SNE Map</h1>
                            </div>
                            <div class="panel-body">
                                <div id='vis' style='width:1366px;'>
                                    <svg class='chart-outer'>
                                        <g class='chart'></g>
                                    </svg>
                                </div>
                            </div>
                            <div class="panel-footer"> La técnica t-SNE es muy utilizada en escenarios donde se requiere
                                reducir la dimensionalidad de un conjunto de datos extenso y de alta dimensionalidad
                                para
                                visualizar su estructura interna en un mapa bidimensional (van der Maaten &
                                Hinton, 2008). Este mapa es el resultado de aplicarla a los datos de los proyectos de
                                los bancos
                                de desarrollo registrados en la IATI.
                                <p>* Por motivos de rendimiento en la plataforma Heroku se ha considerado un número
                                    reducido de proyectos y dimensiones en la presente versión.</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="accordion" id="controls-menu">
                            <div class="card border-primary mb-3">
                                <div class="card-header" id="headingTwo">
                                    <h5 class="mb-0">
                                        <button class="btn btn-primary btn-md btn-block collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            Seleccionar dimensiones
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#controls-menu">
                                    <div class="table-wrapper-scroll-y custom-scrollbar">
                                        <table class="table table-borderless table-sm table-responsive">
                                            <tr>
                                                <th>
                                                    <input type="checkbox" checked id="selectAll"> Seleccionar Todos?
                                                </th>
                                                <th colspan="4"></th>
                                            </tr>
                                            <!--Version Simplificada
                                            <tr>
                                                <td>{{ wtf.form_field(form.Latitude)}}</td>
                                                <td>{{ wtf.form_field(form.Longitude)}}</td>
                                                <td>{{ wtf.form_field(form.BudgetDayAvgValue)}}</td>
                                                <td>{{ wtf.form_field(form.DisbursementDayAvgValue)}}</td>
                                                <td>{{ wtf.form_field(form.NWordsDesc)}}</td>
                                            </tr>-->
                                            <!--Version Standard-->
                                            <tr>
                                                <td>{{ wtf.form_field(form.ActivityStatusCode)}}</td>
                                                <td>{{ wtf.form_field(form.DisbursementDayAvgValue)}}</td>
                                                <td>{{ wtf.form_field(form.IncomingCommitments)}}</td>
                                                <td>{{ wtf.form_field(form.NumPolicyMarkers)}}</td>
                                                <td>{{ wtf.form_field(form.Reimbursements)}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ wtf.form_field(form.ActuaDuration)}}</td>
                                                <td>{{ wtf.form_field(form.Disbursements)}}</td>
                                                <td>{{ wtf.form_field(form.IncomingFunds)}}</td>
                                                <td>{{ wtf.form_field(form.NWordsDesc)}}</td>
                                                <td>{{ wtf.form_field(form.SaleOfEquity)}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ wtf.form_field(form.AidType)}}</td>
                                                <td>{{ wtf.form_field(form.DisbursementType)}}</td>
                                                <td>{{ wtf.form_field(form.InterestsRepayments)}}</td>
                                                <td>{{ wtf.form_field(form.NWordsTitle)}}</td>
                                                <td>{{ wtf.form_field(form.Scope)}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ wtf.form_field(form.BudgetDayAvgValue)}}</td>
                                                <td>{{ wtf.form_field(form.Expenditures)}}</td>
                                                <td>{{ wtf.form_field(form.Language)}}</td>
                                                <td>{{ wtf.form_field(form.PartOrgRefCode)}}</td>
                                                <td>{{ wtf.form_field(form.Sector)}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ wtf.form_field(form.BudgetType)}}</td>
                                                <td>{{ wtf.form_field(form.FinType)}}</td>
                                                <td>{{ wtf.form_field(form.Latitude)}}</td>
                                                <td>{{ wtf.form_field(form.PartOrgRoleCode)}}</td>
                                                <td>{{ wtf.form_field(form.SectorName)}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ wtf.form_field(form.CollaborationType)}}</td>
                                                <td>{{ wtf.form_field(form.FlowType)}}</td>
                                                <td>{{ wtf.form_field(form.LoanRepayments)}}</td>
                                                <td>{{ wtf.form_field(form.PartOrgTypeCode)}}</td>
                                                <td>{{ wtf.form_field(form.TiedStatus)}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ wtf.form_field(form.CreditGuarantees)}}</td>
                                                <td>{{ wtf.form_field(form.Humanitarian)}}</td>
                                                <td>{{ wtf.form_field(form.Longitude)}}</td>
                                                <td>{{ wtf.form_field(form.PurchaseOfEquity)}}</td>
                                                <td>{{ wtf.form_field(form.TypeDescCode)}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ wtf.form_field(form.Commitments)}}</td>
                                                <td>{{ wtf.form_field(form.Hierarchy)}}</td>
                                                <td>{{ wtf.form_field(form.Location)}}</td>
                                                <td>{{ wtf.form_field(form.PlannedDuration)}}</td>
                                                <td>{{ wtf.form_field(form.Transactions)}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ wtf.form_field(form.Currency)}}</td>
                                                <td>{{ wtf.form_field(form.HumanitarianScopeCode)}}</td>
                                                <td>{{ wtf.form_field(form.NameRepOrg)}}</td>
                                                <td>{{ wtf.form_field(form.RecipientCountry)}}</td>
                                                <td>{{ wtf.form_field(form.TypeRepOrgCode)}}</td>
                                            </tr>
                                            <tr>
                                                <td>{{ wtf.form_field(form.Designation)}}</td>
                                                <td>{{ wtf.form_field(form.HumanitarianScopeType)}}</td>
                                                <td>{{ wtf.form_field(form.NumPartOrg)}}</td>
                                                <td>{{ wtf.form_field(form.ReferenceRepOrg)}}</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Cargar D3.js v5 -->
<script src='https://d3js.org/d3.v5.min.js'> </script>
<!-- Cargar ColorScheme de D3-->
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<!-- Cargar Underscore.js, una biblioteca de herraminetas para trabajar con arreglos (filter, sort, min, max) -->
<script src='https://rawgit.com/jashkenas/underscore/master/underscore-min.js'></script>
<!-- Carga de Toggle de Checkboxes-->
<script lang="text/javascript">
    $('#selectAll').click(function (e) {
        $(this).closest('table').find('td input:checkbox').prop('checked', this.checked);
    });
</script>
<script src="{{url_for('css.static', filename='script.js')}}"></script>
<script lang="text/javascript">
    console.log("antes de datos")
    var datos = {{ data | safe }}
    console.log("despues de cargar los datos")
    var vis_width = 1400; // ancho externo
    var vis_height = 400; // alto externo
    draw = function (data, vis_width, vis_height/*, categories*/) {
        console.log("Adentro de la funcion")
        var margin = { top: 30, right: 100, bottom: 30, left: 100 };
        var width = vis_width - margin.left - margin.right, // ancho interno
            height = vis_height - margin.top - margin.bottom; // alto interno

        d3.select('.chart-outer')
            .attr('width', vis_width)
            .attr('height', vis_height);

        var svg = d3.select('.chart').append('svg')
            .attr('width', vis_width)
            .attr('height', vis_width)
            .append('g')
            .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');
        // Define el div (contenedor) para el Tooltip
        var div = d3.select("body").append("div")
            .attr("class", "tooltip")
            .style("opacity", 0);

        var xScale = d3.scaleLinear()
            .range([0, width])
            .domain([_.min(data.map(function (d) { return d['x']; })),
            _.max(data.map(function (d) { return d['x']; }))])

        var yScale = d3.scaleLinear()
            .range([height, 0])
            .domain([_.min(data.map(function (d) { return d['y']; })),
            _.max(data.map(function (d) { return d['y']; }))])

        var bubbleScale = d3.scaleLinear()
            // Tamaño minimo de las burbujas
            .range([25, 800])
            .domain([_.min(data.map(function (d) { return d['Size']; })),
            _.max(data.map(function (d) { return d['Size']; }))]);

        //var colorScale = d3.scaleOrdinal(d3.schemeBlues[9]);
        var colorScale = d3.scaleOrdinal().domain(function (d) { return d['Color']; })
            .range(d3.schemeSet3)

        //Variables de dimensiones de Tamano y Color 
        var color = document.getElementById("Color");
        var dimColor = color.options[color.selectedIndex].innerHTML;
        var size = document.getElementById("Size");
        var dimSize = size.options[size.selectedIndex].innerHTML;

        console.log("Grafica densidad")
        //Para denotar mejor los grupos se adicionara una capa de densidad
        var contours = d3.contourDensity()
            .x(d => xScale(d.x))
            .y(d => yScale(d.y))
            .weight(d => d.Size)
            .size([vis_width, vis_height])
            .bandwidth(25)
            //.thresholds([1,  50, 100, 200, 500])
            (datos)
        console.log("Contornos creados")
        svg
            .selectAll("path")
            .data(contours)
            .enter().append("path")
            .attr("stroke-width", (d, i) => i % 5 ? 0.50 : 1)
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-linejoin", "round")
            .attr("d", d3.geoPath())
            .transition()
            .duration(500);
        console.log("Contornos renderizados")

        //Actualización de Circulos 
        svg
            .selectAll("circle")
            .data(datos)
            .attr("r", d => (Math.sqrt(bubbleScale(d.Size)) / Math.PI))
            .attr("cx", d => xScale(d.x))
            .attr("cy", d => yScale(d.y))
            .attr("fill", d => colorScale(d.Color))
            .transition()
            .duration(300)

        svg
            .selectAll("circle") // Esto es una selección vacía
            .data(datos) // Aqui se hace el join
            .enter()
            .append("circle")
            .attr("r", d => (Math.sqrt(bubbleScale(d.Size)) / Math.PI))
            .attr("cx", d => xScale(d.x))
            // aplicarlos al attr cy con la variable d.y
            .attr("cy", d => yScale(d.y))
            // aplicarlos al attr fill con la variable d.Color
            //.attr("fill", "blue")//d => colorScale(d.Color))
            .attr("fill", d => colorScale(d.Color))
            .style("opacity", 0.45)
            .style('stroke', "black")
            //Evento para presentar el Tootip
            .on("mouseover", function (d) {
                //Configuración del Tootip
                div.transition()
                    .duration(200)
                    .style("opacity", .8);
                //Contenido del Tooltip
                div.html("Nombre: <strong>" + d.Title + "</strong><br/> " +
                    "Organización: <strong>" + d.NameRepOrg + "</strong><br/> " +
                    "Id: <strong>" + d.Id + "</strong><br/> " +
                    dimColor + ": <strong>" + d.Color + "</strong><br/> " +
                    dimSize + ": <strong>" + d.Size + "</strong><br/> ")
                    .style("left", (d3.event.pageX) + "px")
                    .style("top", (d3.event.pageY - 30) + "px");
            })
            //Evento para esconder el Tootip
            .on("mouseout", function (d) {
                div.transition()
                    .duration(500)
                    .style("opacity", 0)
            });

        // Los siguientes bloques de c[odigo añaden una leyenda de tamaño 
        //Se inicia por crear una tabla dinamica con los tamaños y las etiquetas
        var maxi = _.max(data.map(function (d) { return d['Size']; }))
        var mini = _.min(data.map(function (d) { return d['Size']; }))
        var med = (mini != 0 ? (maxi - mini) / 2 : maxi / 2)
        var data_legend = [{ area: maxi, text: '' + maxi.toFixed(0) },
        { area: med, text: '' + med.toFixed(0) },
        { area: mini, text: '' + mini.toFixed(0) }];

        // Adición de círculos
        svg.selectAll('.circle_label')
            .data(data_legend)
            .enter().append('circle')
            .attr('class', 'circle_legend')
            .attr('cx', vis_width - margin.right - 100)
            .attr('cy', function (d, i) { return vis_height - margin.bottom - yScale(70) - 30 * i; })
            .attr('r', function (d) { return (Math.sqrt(bubbleScale(d['area'])) / Math.PI) })
            .style('stroke-size', 2)
            .style('stroke', '#8FA2AC')

        // Adición de etiquetas de texto
        svg.selectAll('.circle_text')
            .data(data_legend)
            .enter().append('text')
            .attr('class', 'circle_text')
            .attr('x', vis_width - margin.right - 80)
            .attr('y', function (d, i) { return vis_height - margin.bottom - yScale(70) - 30 * i + 4; })
            .style('font-size', '12px')
            .text(function (d) { return d['text']; })
        // Adición de título de la leyenda
        legend_label_data = [{ text: 'Area: ' + dimSize }]
        svg.selectAll('.legend_label')
            .data(legend_label_data)
            .enter().append('text')
            .attr('class', 'legend_label')
            .attr('x', vis_width - margin.right - 150)
            .attr('y', function (d, i) { return vis_height - margin.bottom - yScale(20) + Math.sqrt((bubbleScale(20)) / Math.PI) + i * 12; })
            .style('font-size', '12px')
            .style('text-anchor', 'middle')
            .text(function (d) { return d['text'] })
    }
    draw(datos, vis_width, vis_height);
</script>


{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{url_for('css.static', filename='style.css')}}">
{% endblock %}