/* This is an example of a CSS comment (only used within the style section) */
  
  /* Import the Baloo Thambi font from Google Fonts  */ 
  @import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

   .form-group {
     display: inline-block;
     margin-right: 10px;
   }
   
   .form-control {
     display: inline-block;
     margin-left: 10px;
     margin-right: 10px;
     width: 375;
   }

   * {
     margin:0;
     padding:0;
     font-family: Baloo Thambi;
   }

   h1 {
     font-size:18px sans-serif;
     margin-left: 10px;
     line-height:0.2em;
     font-weight: bold;
     font-family: Baloo Thambi;
   }

   h2 {
     font: 16px sans-serif;
     margin-left: 10px;
     line-height:0.2em;
     font-weight: bold;
     font-family: Baloo Thambi;
     text-align: center;
   }
   
   h3 {
    font: 15px sans-serif;
    margin-left: 10px;
    line-height:0.2em;
    font-weight: bold;
    font-family: Baloo Thambi;
    text-align: center;
  }

   p {
     fill: #8FA2AC;
     font-family: Baloo Thambi;
     font-size: 12px;
   }

   .axis text {
     fill: #8FA2AC;
     font: 12px sans-serif;
     font-family: Baloo Thambi;
   }
   
   .axis_title {
     fill: #8FA2AC;
     text-anchor: middle;
     font-family: Baloo Thambi;
   }

   .axis path,
   .axis line {
     fill: none;
     stroke: none;
     shape-rendering: crispEdges;
   }

   .chart {
     font-family: Baloo Thambi;
   }

   .date_marker {
     stroke-width: 1px;
   }

   .date_label_top {
     fill: #8FA2AC;
     text-anchor: middle;
     font-family: Baloo Thambi;
   }

   .date_label_bottom {
     fill: #8FA2AC;
     text-anchor: middle;
     font-family: Baloo Thambi;
   }

   .circle_legend {
     fill: none;
   }
   
   .circle_text {
     fill: #8FA2AC;
     font-family: Baloo Thambi;                   
   }

   .tooltip {
     border-radius: 10px;
     padding: 10px;
     position: absolute;
     color: #FFF;
     background-color: #222;
     opacity: .9;
     z-index: 1;
     font-family: Baloo Thambi;
   }

   div.tooltip {	
    position: absolute;			
    text-align: left;	
    width: 500px;					
    height: 200px;					
    padding: 2px;				
    font: 10px sans-serif;		
    color: #222;
    background-color: #FFF;
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;		
    opacity: .9;
    z-index: 1;	
    font-family: Baloo Thambi;
    }
   
   .irs--round .irs-line {
      top: 36px;
      height: 4px;
      background-color: #E3E9ED;
      border-radius: 4px;
   }
   .irs--round .irs-bar {
      top: 36px;
      height: 4px;
      background-color: #005b96;
   }
   .irs--round .irs-handle {
      top: 26px;
      width: 24px;
      height: 24px;
      border: 4px solid #005b96;
      background-color: white;
      border-radius: 24px;
      box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
   }
   .irs--round .irs-handle.state_hover,
   .irs--round .irs-handle:hover {
     background-color: #b3cde0;
   }
   .irs--square .irs-min,
   .irs--square .irs-max {
     color: #333;
     font-family: Baloo Thambi;
     font-size: 14px;
     line-height: 1;
     top: 0;
     padding: 3px 5px;
     background-color: rgba(0, 0, 0, 0.1);
   }
   .irs--round .irs-from,
   .irs--round .irs-to,
   .irs--round .irs-single {
      font-family: Baloo Thambi;
      font-size: 14px;
      line-height: 1;
      text-shadow: none;
      padding: 3px 5px;
      background-color: #005b96;
      color: white;
      border-radius: 4px;
   }
   
   text {
     font-family: Baloo Thambi;
   }

   label {
     font-family: Baloo Thambi;
     margin-left: 10px;
   }

   select {
     font-family: Baloo Thambi;
   }

   .show_label {
     font-family: Baloo Thambi;
   }

   .legend_label {
     fill: #8FA2AC;
     text-anchor: middle;
     font-family: Baloo Thambi;                     
   }
   
   .custom-scrollbar{
     position: relative;
     height: 200px;
     overflow: auto;
   }

   .table-wrapper-scroll-y {
     display: block;
   }

   